<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
</head>
<body class="notranslate" style="margin:0; padding:0; font-family:Arial,sans-serif;">

    <div style="
            width: 32rem;
            margin: auto;
            margin-top: 50px;
            background-color: #006fea;
            background-image:
                linear-gradient(to right, #034fe1, #1682f2 1px, #006ee4 2px, rgba(0,0,0,0) 3px),
                linear-gradient(to left, #0034b0, #0056e1 1px, #0064f4 2px, rgba(0,0,0,0) 3px),
                linear-gradient(to top, #0034b1, #0056e1 1px, #0064f4 2px, rgba(0,0,0,0) 3px);
            border-radius: 5px;
            border: 1px solid;
            border-color: #0072ef #01279e #01279e #0236d8;
        ">
        <div style="
            width: 100%;
            color: white;
            font-size: 12px;
            padding: 4px 0 4px 0;
            background-image:
                linear-gradient(to right, #0050db, rgba(255,255,255,.1) 4px, rgba(255,255,255,0) 200px),
                linear-gradient(to left, #0034b0, #0056e1 1px, #0064f4 2px, rgba(0,0,0,0) 3px),
                linear-gradient(to bottom, #4aa9ff, #33a4ff 1px, #008aff 2px, #007ef4 3px, #0075f0 4px, rgba(0,0,0,0) 5px),
                linear-gradient(to top, #005dd9, #0067e9 1px, #007afb 2px, #0081fb 3px, rgba(0,0,0,0) 4px);
        ">
            <h2 style="margin: 0; display: inline; margin-left: 6px; font-size: 17px">Password recovery</h2>
        </div>

        <table role="presentation" style="max-width:580px; background-color:#ffffff; overflow:hidden; margin: 0 3px 3px 3px;">
            <tr>
                <td style="
                    padding:25px;
                    text-align:center;
                    background: linear-gradient(90deg, #6286e1 0%, #9fbbf6 65%, #9fbbf6 70%, #6286e1 100%);
                ">
                    <img th:src="${imageLink}" alt="Friendly Expense Tracker title" width="120" style="margin:0 auto; border:0; max-width:100%; height:auto;">
                </td>
            </tr>

            <tr>
                <td style="padding:40px 30px; background-color:#ffffff;">

                    <p style="margin:0 0 16px 0; color:#333333; font-size:16px; line-height:1.5;">
                        Hi <span th:text="${userName}" style="font-weight:bold;">${userName}</span>,
                    </p>

                    <p style="margin:0 0 30px 0; color:#333333; font-size:16px; line-height:1.5;">
                        We have received a request to reset your password. Click the button below to set up a new one.
                    </p>

                    <table role="presentation" style="margin:0 auto 30px auto; width:auto;">
                        <tr>
                            <td style="
                                background-color:#3498db;
                                border-radius:3px;
                                padding:12px 30px;
                                background-color: #124CFB;
                                box-shadow: inset 0 23px 4px #2A5AFD;
                            ">
                                <a th:href="${resetLink}" target="_blank" style="
                                    width: 100%;
                                    height: 100%;
                                    color:#ffffff;
                                    display:inline-block;
                                    font-size:15px;
                                    font-weight:bold;
                                    text-decoration:none;
                                    font-family:Arial,sans-serif;
                                    line-height:100%;
                                ">
                                    Reset Password
                                </a>
                            </td>
                        </tr>
                    </table>

                    <p style="margin:0; font-size:14px; color:#777777; line-height:1.4;">
                        If you didn't request this, you can safely ignore this email. No worries.
                    </p>

                    <table role="presentation" style="margin-top:20px; width: 100%">
                        <tr>
                            <td style="
                                width: 100%;
                                background-color: #d44848;
                                background-image: linear-gradient(90deg, rgba(212, 72, 72, 1) 0%, rgba(245, 140, 140, 1) 15%, rgba(212, 72, 72, 1) 45%, rgba(138, 56, 56, 1) 100%);
                                padding:12px;
                            ">
                                <p style="margin:0; font-size:14px; color: white; font-weight:bold; line-height:1.4; text-align: center">
                                    This link expires in 15 minutes. Hurry up!
                                </p>
                            </td>
                        </tr>
                    </table>


                </td>
            </tr>
        </table>
    </div>

</body>
</html>
